# Leiningen / Clojure
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

# Clojure CLI
.clojure/
.cpcache/

# Editor - IntelliJ / Cursive
.idea/
*.iml

# Editor - VS Code / Calva
.calva/

# Linters / Language Servers
.clj-kondo/
.lsp/

# Mercurial (não aplicável a este repositório)
.hgignore
